/* paletas de colores

azul-oscuro:#003049
rojo:#d62828
naranja:#f77f00
amarillo-claro:#fcbf49
blanco-mate:#eae2b7
*/

body{

  margin:0;
  padding: 0;
  font-family: Montserrat,arial,sans-serif;
  background: black;
}

.container{
  font-size: 12px;
}

h1{
  font-size:1.1em;
}

h2{
  text-transform:uppercase;
}
  div .second-container{
  background-image:url('../img/fondo-web-nv.jpg');
  background-position: center;
  /*width: 800px;*/
  min-width:100vw;
  min-height:90vh;
  background-size:cover;
  display:inline-block;
  margin:none;
  padding:0;
}

.second-section{
  box-sizing:border-box;
  margin:none;
  padding:5%;
  height: 680px;
  display:block;
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/*Responsive 768x1024*/
@media(min-width:768px) and (min-height:1024px){
  .second-section{
    box-sizing:border-box;
    margin:none;
    padding:0;
    height: 770px;
    display:block;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  .video video{
    display:none;
    visibility: hidden;
  }
  .view-video{
    font-size: 3em;
    display: inline-block;
    width: 15em;
    margin: 0 10px;
  }

  div .article-core{
    width: 90%;
    font-size: 1.8em;
  }
}

/**/
.video{
  box-sizing:border-box;
  padding:2em;
  width:20%;
  display:inline-block;
}

.content-1 .content.2{
  width:68%;
  height:48%;
  display:inline-block;


}

.article-core{
  margin: 2em;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius:10px;
  padding: 5px 15px;
  font-size: 1em;
  width: 70%;
  display:inline-block;
  vertical-align: top;
}

.view-video{
  font-style: none;
  font-weight:bold;
  text-decoration:none;
  color: #353535;
  background-color: white;
  padding: 5px;
  border-radius: 10px;
}

.video a:hover{
  background: #e63946;
  color: #ffffff;
}


.head-main{
  height: 2em;
  background-color:#d62828;
  display:flex;
  align-items:center;
  justify-content:center;

}

.text-mayus{
  color: white;
  text-transform:uppercase;
}

.nav-main{
  background-color:#f77f00;
  height:50px;
  margin-top:1em;

}

.list-main{
  display:inline-block;
}



/*Pie de pagina*/


.footer-right{
  width:100%;
  text-align: center;
  padding:0.5em 0.2em;
  font-size: 0.6em;
}
.rights{
  height:8em;
  background:#17213a;
  color: #ffffff;
  margin-top:1px;
  font-family:Montserrat;
}

/*Media Query Ancho 415 px*/
@media (max-width:415px) {
  .rights{
    height:25em;
    background:#f77f00;
    font-size: 10.1em;
  }

  .video{
    box-sizing:border-box;
    padding:1em;
    width: 100%;
    display:block;
  }

  .article-section{
    display:block;
    width: 100%;
  }
  .second-section{
    box-sizing:border-box;
    margin:none;
    padding-top: 5em;
    height: 1280px;
    display: block;
   }
 }

@media (min-width:630px) {
  .articles{
    height:440px;
    margin-top:1em;
    background-color: #353535;
  }
}

/*footer*/
.rights{
  display: flex;
  justify-content: center;
  align-items: center;
  /*width: 740px;*/
}


.footer-left{
  float: left;
}

.links a{

  font-size: 40px;
  color: #353535;
}

.links a:hover{
  color: #9d0208;
  transition: all 1s;
}



/*menu de usuario- main-user*/

.main-fans{
  display: flex;
  justify-content: center;
  align-items:center;
  background: #6c757d;
}

div .main-1, .main-2, .main-3{
  text-align: center;
  padding: 0.5em;
  margin: 2em;
  width:25%;
  height:15em;
  background: #000000;
  display:inline-block;
  border-radius:20px;
  box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.5);
}

div .poster-main img{
  background: #353535;
}

.poster-main{
  filter: brightness(50%);
}

.poster-main:hover{
filter: brightness(100%);
}

/*resolucion 640px x 360px*/
@media (max-height:640px) and (max-width:360px){
  .main-fans{
    display: flex;
    justify-content: center;
    align-items:center;
    background: #6c757d;
    width: 740px;
  }
  .rights{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 740px;
  }
  div .second-container{
  background-image:url('../img/fondo-web-nv.jpg');
  background-position: center;
  width: 735px;
  min-width:90vw;
  min-height:90vh;
  background-size:cover;
  display:inline-block;
  margin:none;
  padding:0;
}
}
